button {
    padding: 10px;
    border: solid 2px whitesmoke;
    background-color: antiquewhite;
    width: fit-content;
}

button:hover {
    border: solid 2px black;

}

#menuScreen {
    display: flex;
    font-size: 20px;

    position: absolute;
    top: 0;
    left: 0;

    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

    z-index: 10;

    background-color: white;
}

#menuWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;

    justify-content: center;
    align-items: center;

    padding-left: 20vw;
    padding-right: 20vw;
}

#gameScreen {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

}



#board {
    display: grid;
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: 100px 100px 100px;
    gap: 10px;
}

.space {

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 30px;

    background-color: antiquewhite;
    border: solid 2px whitesmoke;
}

.space:hover {
    border: solid 2px black;
}